<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>it shorted</title>
</head>
<body>
    <label for="">here is your link</label><br>
    <input readonly id="url" value="{{ url }}"><br>
    <button onclick="copy()">copy it!</button>
</body>
<script>
    function copy(){
        var url = document.getElementById("url");
        url.select();
        document.execCommand("Copy");
    }
</script>
</html>